/* Start Headings */

.heading{
    font-size: 35px;
    font-weight:600;
    color:$heading-color;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

/* End Headings*/